.App {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-areas:
    "navbar"
    "main-content"
    "footer";
  margin: 0px;
  height: 100vh;
  /* border: 2px solid red; */
}

.navbar {
  grid-area: navbar;
  display: grid;
  grid-template-areas:
    "site-name nav-menu";
  margin: 0px;
  background-color: green;
  padding: 5px;
  /* border: 2px solid darkgreen; */
}

.site-name {
  grid-area: site-name;
  /* border: 2px solid purple; */
}

.nav-menu {
  grid-area: nav-menu;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid yellow; */
}

.nav-menu a {
  margin-right: 10px;
  padding: 10px;
  /* border: 2px solid orange; */
}

main {
  grid-area: main-content;
  /* border: 2px solid orange; */
}

footer {
  grid-area: footer;
  background-color: green;
  /* border: 2px solid red; */
}

.search-results-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.plant-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20%;
  margin: 10px;
  padding: 20px;
  min-width: 250px;
}
