.App {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-areas:
    "navbar"
    "main-content"
    "footer";
  margin: 0px;
  height: 100vh;
  /* border: 2px solid red; */
}

/* ANCHOR NAVIGATION */

.navbar {
  grid-area: navbar;
  display: grid;
  grid-template-areas:
    "site-name nav-menu";
  margin: 0px;
  background-color: green;
  padding: 5px;
  /* border: 2px solid darkgreen; */
}

.site-name {
  grid-area: site-name;
  /* border: 2px solid purple; */
}

.nav-menu {
  grid-area: nav-menu;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid yellow; */
}

.nav-menu a {
  margin-right: 10px;
  padding: 10px;
  /* border: 2px solid orange; */
}

/* ANCHOR MAIN CONTENT */

main {
  grid-area: main-content;
  margin: 20px;
  /* border: 2px solid orange; */
}

/* ANCHOR FOOTER */

footer {
  grid-area: footer;
  background-color: green;
  /* border: 2px solid red; */
}


/* ANCHOR SEARCH PAGE */

.search-container {
  /* the entire search container return div */
}

.search-filters {
  /* search and filter controls container */
  text-align: center;
}

.search-results-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.plant-profile-div {
  /* holds the plant profile component on the search page */
}

.plant-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-rows: 1fr 0fr;
  grid-template-areas:
    "img data"
    "check data";
  min-width: 250px;
  max-width: 390px;
  min-height: 250px;
  margin: 5px;
  padding: 20px;
  min-width: 250px;
}

.plant-card-img {
  grid-area: img;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
}

.plant-card-img img {
  min-width: 100%;
  min-height: 100%;
  max-height: 150%;
  max-width: 150%;
  margin: auto;
}

.plant-card-data {
  grid-area: data;
  min-width: 100px;
  margin-left: 20px;
}

.plant-card-check {
  grid-area: check;
}

/* ANCHOR COLLECTION PAGE */

.collection-container {
  /* entire collection content area */
}

.show-user-plant {
  /* show a single user plant */
}

.collection-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* ANCHOR MODAL */

#plant-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
  background-color: #fefefe;
  margin: 3% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 75%; /* Could be more or less, depending on screen size */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr 1fr;
  grid-template-areas:
    "modal-img modal-img modal-data"
    "modal-img modal-img data-1"
    "modal-img modal-img data-2";
}

.modal-content-image {
  grid-area: modal-img;
  max-height: 100%;
}

.modal-content-image img {
  max-width: 100%;
  max-height: 100%;
}

.modal-content-data {
  padding-left: 20px;
  grid-area: modal-data;
}
.modal-footer-1, .modal-footer-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.modal-footer-1 {
  grid-area: data-1;
}

.modal-footer-2 {
  grid-area: data-2;
}

.loading {
  text-align: center;
  margin: auto;
}