.App {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-areas:
    "navbar"
    "main-content"
    "footer";
  margin: 0px;
  height: 100vh;
  /* border: 2px solid red; */
}

/* ANCHOR NAVIGATION */

.navbar {
  grid-area: navbar;
  display: grid;
  grid-template-areas: "site-name nav-menu";
  margin: 0px;
  background-color: #224229;
}

.site-name {
  grid-area: site-name;
  color: white;
  padding-left: 5%;
}

.site-name a {
  color: white;
  text-decoration: none;
}

.nav-menu {
  grid-area: nav-menu;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

.nav-menu a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.nav-menu a:hover {
  text-decoration: underline;
}

/* ANCHOR MAIN CONTENT */

main {
  grid-area: main-content;
}

/* ANCHOR FOOTER */

footer {
  grid-area: footer;
  padding: 0 20px;
  background-color: #224229;
  color: rgba(252, 249, 243, 0.72);
}

/* ANCHOR SEARCH PAGE */

.search-filters {
  /* search and filter controls container */
  text-align: center;
  padding: 20px;
  background: #f8f1e3;
}
.search-filters h1 {
  margin: 0px;
}

.search-form {
  margin-top: 20px;
}

.add-to-collection-div {
  text-align: center;
  padding: 20px;
  background-color: #f8f1e3;
}

.add-to-collection-images-div {
  padding-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: auto;
}

.add-to-collection-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-to-collection-image img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.search-results-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.plant-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-rows: 1fr 0fr;
  grid-template-areas:
    "img data"
    "check data";
  min-width: 250px;
  max-width: 390px;
  min-height: 250px;
  margin: 5px;
  padding: 20px;
  min-width: 250px;
}

.plant-card-img {
  grid-area: img;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
}

.plant-card-img img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.plant-card-data {
  grid-area: data;
  min-width: 100px;
  margin-left: 20px;
}

.plant-card-check {
  grid-area: check;
}

/* ANCHOR COLLECTION PAGE */

.collection-container h1 {
  /* entire collection content area */
  text-align: center;
}

.collection-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* ANCHOR MODAL */

#plant-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#modal-content {
  background-color: #fefefe;
  margin: 3% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 75%; /* Could be more or less, depending on screen size */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr 1fr;
  grid-template-areas:
    "modal-img modal-img modal-data"
    "modal-img modal-img data-1"
    "modal-img modal-img data-2";
}

.modal-content-image {
  grid-area: modal-img;
  max-height: 100%;
}

.modal-content-image img {
  max-width: 100%;
  max-height: 100%;
}

.modal-content-data {
  padding-left: 20px;
  grid-area: modal-data;
}
.modal-footer-1,
.modal-footer-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.modal-footer-1 {
  grid-area: data-1;
}

.modal-footer-2 {
  grid-area: data-2;
}

.loading {
  text-align: center;
  margin: auto;
}

.login-form,
.signup-form {
  margin: 20px;
  text-align: center;
}
